h1{
    text-align: center;
}
h3{
    text-align: center;
}
#color1{
    width: 100px;
    height: 100px;
    background-color: rgb(128,128,128);
    border-radius: 50%;
    border: 2px solid red;
    cursor: pointer;
}
#color2{
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 50%;
    border: 2px solid red;
    cursor: pointer;
}
#color3{
    width: 100px;
    height: 100px;
    background-color: blue;
    border-radius: 50%;
    border: 2px solid red;
    cursor: pointer;
}
#color4{
    width: 100px;
    height: 100px;
    background-color: yellow;
    border-radius: 50%;
    border: 2px solid red;
    cursor: pointer;
}
#colorsContainer{
    display: flex;
    justify-content: center;
    gap: 15px;
}